GIT_SSH=C:\Programs\putty\plink.exe
{{IF_HOME_OVERRIDE_NEEDED_BEGIN}}
HOME=C:\Users\osama.hassanein\
{{IF_HOME_OVERRIDE_NEEDED_END}}
{{IF_ORACLE_CLIENT_NEEDED_BEGIN}}
OCI_INC_DIR=C:\Programs\Oracle\instantclient\sdk\include
OCI_LIB_DIR=C:\Programs\Oracle\instantclient\sdk\lib\msvc
{{IF_ORACLE_CLIENT_NEEDED_END}}
{{IF_CERT_NEEDED_BEGIN}}
NODE_EXTRA_CA_CERTS=%HOME%.cert_auth_bundle.cer
SSL_CERT_FILE=%HOME%.cert_auth_bundle.cer
{{IF_CERT_NEEDED_BEGIN}}
