[core]
	autocrlf = false
	excludesfile = {{{APP_GIT_EXCLUDESFILE}}}
[user]
	name = {{{APP_USER_FULL_NAME}}}
	email = {{{APP_USER_EMAIL}}}
[http]
{{#APP_EXTRA_CERTIFICATE_AUTHORITY_BUNDLE_FILE_PATH}}
	sslcainfo = {{{APP_GIT_SSLCAINFO}}}
{{/APP_EXTRA_CERTIFICATE_AUTHORITY_BUNDLE_FILE_PATH}}
	sslbackend = openssl
	sslversion = tlsv1.3
