[core]
	autocrlf = false
	excludesfile = {{ESCAPED_HOME_PATH}}\\.gitignore
	eol = lf
[user]
	name = {{USER_FULL_NAME}}
	email = {{USER_EMAIL}}
[http]
	sslcainfo = {{ESCAPED_HOME_PATH}}\\.cert\\ca-bundle.crt
