{
	"version": "0.2.0",
	"configurations": [{
		"name": "[Node] Current file",
		"type": "node",
		"request": "launch",
{{#CONTROLLED_ENVIRONMENT}}
		"runtimeExecutable": "C:\\Programs\\nodejs\\node",
{{/CONTROLLED_ENVIRONMENT}}
		"args": ["${relativeFile}"],
		"runtimeArgs": ["--nolazy"],
		"sourceMaps": true,
		"cwd": "${workspaceRoot}",
		"protocol": "inspector"
	}, {
		"name": "[Node] Current typescript file",
		"type": "node",
		"request": "launch",
{{#CONTROLLED_ENVIRONMENT}}
		"runtimeExecutable": "C:\\Programs\\nodejs\\node",
{{/CONTROLLED_ENVIRONMENT}}
		"args": ["${relativeFile}"],
		"runtimeArgs": [
			"--nolazy",
			"-r", "@player1os/typescript-support/lib/runtime"
		],
		"sourceMaps": true,
		"cwd": "${workspaceRoot}",
		"protocol": "inspector"
	}, {
		"name": "[Node] Attach to process",
		"type": "node",
		"request": "attach",
		"port": 9229,
		"restart": true,
		"sourceMaps": true
	}, {
		"name": "[Jest] Current file",
		"type": "node",
		"request": "launch",
{{#CONTROLLED_ENVIRONMENT}}
		"runtimeExecutable": "C:\\Programs\\nodejs\\node",
{{/CONTROLLED_ENVIRONMENT}}
		"program": "${workspaceFolder}\\node_modules\\jest\\bin\\jest",
		"args": ["${relativeFile}"],
		"sourceMaps": true,
		"cwd": "${workspaceRoot}",
		"console": "integratedTerminal",
		"internalConsoleOptions": "neverOpen"
	}, {
		"name": "[Jest] Current functional file",
		"type": "node",
		"request": "launch",
{{#CONTROLLED_ENVIRONMENT}}
		"runtimeExecutable": "C:\\Programs\\nodejs\\node",
{{/CONTROLLED_ENVIRONMENT}}
		"program": "${workspaceFolder}\\node_modules\\jest\\bin\\jest",
		"args": [
			"-c", "./node_modules/@player1os/typescript-support/lib/jest/functional.js",
			"${relativeFile}"
		],
		"sourceMaps": true,
		"cwd": "${workspaceRoot}",
		"console": "integratedTerminal",
		"internalConsoleOptions": "neverOpen"
	}, {
		"name": "[Jest] Current unit file",
		"type": "node",
		"request": "launch",
{{#CONTROLLED_ENVIRONMENT}}
		"runtimeExecutable": "C:\\Programs\\nodejs\\node",
{{/CONTROLLED_ENVIRONMENT}}
		"program": "${workspaceFolder}\\node_modules\\jest\\bin\\jest",
		"args": [
			"-c", "./node_modules/@player1os/typescript-support/lib/jest/unit.js",
			"${relativeFile}"
		],
		"sourceMaps": true,
		"cwd": "${workspaceRoot}",
		"console": "integratedTerminal",
		"internalConsoleOptions": "neverOpen"
	}, {
		"name": "[Chrome] Current file",
		"type": "chrome",
		"request": "launch",
		"file": "${workspaceFolder}/${relativeFile}",
		"webRoot": "${workspaceFolder}"
	}, {
		"name": "[Chrome] Localhost",
		"type": "chrome",
		"request": "launch",
		"url": "http://localhost:8080",
		"webRoot": "${workspaceFolder}"
	}, {
		"name": "[Electron] Launch main",
		"type": "node",
		"request": "launch",
		"protocol": "inspector",
		"runtimeExecutable": "${workspaceFolder}\\node_modules\\.bin\\electron.cmd",
		"runtimeArgs": [
			"--remote-debugging-port=9223",
			"${workspaceFolder}"
		],
		"sourceMaps": true,
		"cwd": "${workspaceRoot}"
	}, {
		"name": "[Electron] Attach to renderer",
		"type": "chrome",
		"request": "attach",
		"port": 9223,
		"webRoot": "${workspaceRoot}",
		"timeout": 30000
	}],
	"compounds": [{
		"name": "[Electron] Local project",
		"configurations": [
			"[Electron] Launch main",
			"[Electron] Attach to renderer"
		]
	}]
}
