{
	"cSpell.enabledLanguageIds": [
		"asciidoc",
		"c",
		"cpp",
		"csharp",
		"css",
		"go",
		"handlebars",
		"html",
		"jade",
		"javascript",
		"javascriptreact",
		"json",
		"latex",
		"less",
		"markdown",
		"mustache",
		"php",
		"plaintext",
		"pub",
		"python",
		"restructuredtext",
		"rust",
		"scss",
		"text",
		"typescript",
		"typescriptreact",
		"yml"
	],
	"cSpell.language": "en",
	"cSpell.userWords": [
		"{{{APP_VSCODE_DICTIONARY}}}"
	],
	"diffEditor.ignoreTrimWhitespace": false,
	"editor.renderWhitespace": "all",
	"editor.rulers": [140],
	"editor.wordWrap": "on",
	"eslint.options": {
		"ignorePath": "{{{APP_VSCODE_ESLINTIGNORE_PATH}}}"
	},
	"extensions.ignoreRecommendations": true,
	"git.autofetch": true,
	"git.confirmSync": false,
	"git.enableSmartCommit": true,
{{#APP_EXTRA_CERTIFICATE_AUTHORITY_BUNDLE_FILE_PATH}}
	"http.proxyStrictSSL": false,
{{/APP_EXTRA_CERTIFICATE_AUTHORITY_BUNDLE_FILE_PATH}}
	"npm-intellisense.scanDevDependencies": true,
	"path-autocomplete.pathMappings": { "...": "${workspace}" },
{{#APP_OS_IS_WINDOWS}}
	"terminal.integrated.shell.windows": "C:\\WINDOWS\\System32\\cmd.exe",
{{/APP_OS_IS_WINDOWS}}
	"typescript.suggest.autoImports": false,
	"typescript.referencesCodeLens.enabled": true,
{{#APP_VSCODE_IS_UPDATE_DISABLED}}
	"vsicons.dontShowNewVersionMessage": true,
{{/APP_VSCODE_IS_UPDATE_DISABLED}}
	"vsicons.presets.angular": true,
	"vsicons.projectDetection.disableDetect": true,
	"workbench.iconTheme": "vscode-icons"
}
